name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-project:
    name: Build Project
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install Dependencies
        run: sudo apt install libeigen3-dev liborocos-kdl-dev liburdfdom-dev

      - name: Configure Project
        run: cmake -B build -D CMAKE_BUILD_TYPE=Release

      - name: Build Project
        run: cmake --build build

      - name: Install Project
        run: sudo cmake --install build
